# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# Conda 环境
.env/
.venv/

# Buildozer 输出
.buildozer/
bin/

# IDE 配置
.idea/
.vscode/
*.iml

# 操作系统文件
.DS_Store
Thumbs.db

# 忽略根目录下的图片，但保留 icons 文件夹中的所有资源
*.jpg
*.png
!icons/
!icons/**/*.png
!icons/**/*.jpg
!icons/**/*.jpeg
!icons/**/*.ttc
